.b {
    color: green;
}

.h1 {
    color: red;
}
.body {
    background-color: #FFFFFF;
    text: #000000
    
}



body {
    background-color: #FFFFFF;
    }

img {
    width: 351; height: 113;
}

table {
    border: 0; width: %90;
}


.td {
    width: %38;
   

}

.background {
    background-color: #FFFFFF;
    
}

.fs    {
    font-size: smaller;
}




